PORT=3000

USER_SERVICE_URL=http://localhost:3001/user/auth
BLOG_SERVICE_URL=http://localhost:3002/blog/posts
FILE_VAULT_SERVICE_URL=http://localhost:3003/storage
NOTIFY_SERVICE_URL=http://localhost:3004/notify

HTTP_CLIENT_MAX_REDIRECTS=5
HTTP_CLIENT_TIMEOUT=3000